<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_background</key>
	<dict>
		<key>alpha</key>
		<real>60</real>
		<key>blue</key>
		<real>209.22543334960938</real>
		<key>color</key>
		<false/>
		<key>cornerRadius</key>
		<integer>0</integer>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>224.85446166992188</real>
		<key>image</key>
		<true/>
		<key>imageAlpha</key>
		<real>100</real>
		<key>is3D</key>
		<true/>
		<key>picture</key>
		<string></string>
		<key>red</key>
		<real>224.55320739746094</real>
		<key>tile</key>
		<false/>
	</dict>
	<key>cd_badges</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>254.3623046875</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>191.96473693847656</real>
		<key>red</key>
		<real>86.8472900390625</real>
		<key>trash</key>
		<true/>
	</dict>
	<key>cd_border</key>
	<dict>
		<key>alpha</key>
		<real>80</real>
		<key>blue</key>
		<real>242.96768188476562</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>255</real>
		<key>red</key>
		<real>253.45710754394531</real>
		<key>size</key>
		<integer>1</integer>
	</dict>
	<key>cd_darkenInactive</key>
	<false/>
	<key>cd_darkenMouseOver</key>
	<true/>
	<key>cd_folders</key>
	<dict>
		<key>alpha</key>
		<real>85</real>
		<key>blue</key>
		<real>254.99497985839844</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>254.98489379882812</real>
		<key>red</key>
		<real>255</real>
	</dict>
	<key>cd_iconCloseReflection</key>
	<false/>
	<key>cd_iconOpenReflection</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconshadow</key>
	<dict>
		<key>alpha</key>
		<real>50</real>
		<key>blue</key>
		<real>140.86965942382812</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>247.07423400878906</real>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>cd_indicator</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>254.3623046875</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>191.96473693847656</real>
		<key>height</key>
		<integer>3</integer>
		<key>image</key>
		<false/>
		<key>picture</key>
		<false/>
		<key>red</key>
		<real>86.8472900390625</real>
		<key>resize</key>
		<true/>
		<key>width</key>
		<integer>7</integer>
	</dict>
	<key>cd_labels</key>
	<dict>
		<key>alpha</key>
		<real>90.271774291992188</real>
		<key>blue</key>
		<real>254.99497985839844</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>254.98489379882812</real>
		<key>red</key>
		<real>255</real>
		<key>show</key>
		<true/>
	</dict>
	<key>cd_mission</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>57.907562255859375</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>expand</key>
		<true/>
		<key>green</key>
		<real>144.72572326660156</real>
		<key>red</key>
		<real>250.47731018066406</real>
	</dict>
	<key>cd_separator</key>
	<dict>
		<key>alpha</key>
		<real>0.0</real>
		<key>blue</key>
		<real>232.55970764160156</real>
		<key>color</key>
		<true/>
		<key>enabled</key>
		<false/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>248.06546020507812</real>
		<key>red</key>
		<real>246.56675720214844</real>
	</dict>
	<key>cd_showFinder</key>
	<true/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showTrash</key>
	<true/>
	<key>cd_switcher</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>57.907562255859375</real>
		<key>color</key>
		<false/>
		<key>enabled</key>
		<false/>
		<key>green</key>
		<real>144.72572326660156</real>
		<key>red</key>
		<real>250.47731018066406</real>
	</dict>
</dict>
</plist>
