<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cd_background</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>cornerRadius</key>
		<integer>0</integer>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>image</key>
		<true/>
		<key>imageAlpha</key>
		<real>99</real>
		<key>is3D</key>
		<false/>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_badges</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>trash</key>
		<true/>
	</dict>
	<key>cd_border</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>size</key>
		<integer>0</integer>
	</dict>
	<key>cd_borderBG</key>
	<false/>
	<key>cd_borderBGA</key>
	<real>100</real>
	<key>cd_borderBGB</key>
	<real>55.955451965332031</real>
	<key>cd_borderBGG</key>
	<real>55.964866638183594</real>
	<key>cd_borderBGR</key>
	<real>212.83706665039062</real>
	<key>cd_borderSize</key>
	<integer>0</integer>
	<key>cd_colorIndicator</key>
	<false/>
	<key>cd_cornerRadius</key>
	<integer>0</integer>
	<key>cd_customIndicator</key>
	<false/>
	<key>cd_darkMode</key>
	<integer>1</integer>
	<key>cd_darkenInactive</key>
	<false/>
	<key>cd_darkenMouseOver</key>
	<false/>
	<key>cd_dockBG</key>
	<false/>
	<key>cd_dockBGA</key>
	<real>100</real>
	<key>cd_dockBGB</key>
	<real>46.069278717041016</real>
	<key>cd_dockBGG</key>
	<real>46.0794677734375</real>
	<key>cd_dockBGR</key>
	<real>215.88571166992188</real>
	<key>cd_folders</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_fullWidth</key>
	<false/>
	<key>cd_hideLabels</key>
	<false/>
	<key>cd_iconCloseReflection</key>
	<false/>
	<key>cd_iconOpenReflection</key>
	<false/>
	<key>cd_iconReflection</key>
	<false/>
	<key>cd_iconShadow</key>
	<true/>
	<key>cd_iconShadowBGA</key>
	<real>10</real>
	<key>cd_iconShadowBGB</key>
	<real>0.0</real>
	<key>cd_iconShadowBGG</key>
	<real>0.0</real>
	<key>cd_iconShadowBGR</key>
	<real>0.0</real>
	<key>cd_iconShadowBGS</key>
	<integer>10</integer>
	<key>cd_iconshadow</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>size</key>
		<integer>10</integer>
	</dict>
	<key>cd_indicator</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>green</key>
		<real>0.0</real>
		<key>height</key>
		<integer>0</integer>
		<key>image</key>
		<false/>
		<key>red</key>
		<real>0.0</real>
		<key>resize</key>
		<false/>
		<key>width</key>
		<integer>0</integer>
	</dict>
	<key>cd_indicatorBGA</key>
	<real>0.0</real>
	<key>cd_indicatorBGB</key>
	<real>0.0</real>
	<key>cd_indicatorBGG</key>
	<real>0.0</real>
	<key>cd_indicatorBGR</key>
	<real>0.0</real>
	<key>cd_indicatorHeight</key>
	<integer>0</integer>
	<key>cd_indicatorWidth</key>
	<integer>0</integer>
	<key>cd_is3D</key>
	<true/>
	<key>cd_labelBG</key>
	<false/>
	<key>cd_labelBGA</key>
	<real>0.0</real>
	<key>cd_labelBGB</key>
	<real>0.0</real>
	<key>cd_labelBGG</key>
	<real>0.0</real>
	<key>cd_labelBGR</key>
	<real>0.0</real>
	<key>cd_labels</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
		<key>show</key>
		<true/>
	</dict>
	<key>cd_mission</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>expand</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_pictureBG</key>
	<true/>
	<key>cd_separator</key>
	<dict>
		<key>alpha</key>
		<real>0.0</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<true/>
		<key>full</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cd_separatorBG</key>
	<false/>
	<key>cd_separatorBGA</key>
	<real>0.0</real>
	<key>cd_separatorBGB</key>
	<real>0.0</real>
	<key>cd_separatorBGG</key>
	<real>0.0</real>
	<key>cd_separatorBGR</key>
	<real>0.0</real>
	<key>cd_separatorfullHeight</key>
	<false/>
	<key>cd_showFinder</key>
	<true/>
	<key>cd_showFrost</key>
	<false/>
	<key>cd_showGlass</key>
	<false/>
	<key>cd_showSeparator</key>
	<true/>
	<key>cd_showTrash</key>
	<true/>
	<key>cd_sizeIndicator</key>
	<false/>
	<key>cd_switcher</key>
	<dict>
		<key>alpha</key>
		<real>100</real>
		<key>blue</key>
		<real>0.0</real>
		<key>color</key>
		<false/>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
</dict>
</plist>
